* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body {
    background-color: black; 
 }
 .list {
  
    color: white;
    position: relative;
    background-color: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
 }
 
 ul {
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 100px;
 }
 
 .li {
    margin-right: 4vw;
    cursor: pointer;
 }
 .logo{
    margin: 1vh 0 0 25vw;
    width: 50vw;
    height: 70vh;
 }

 h1{
    color: white;
    text-align: center;
 }
 p{
    color: white;
    text-align:center;
    font-size: 20px;
    width: 80vw;
    line-height: 30px;
 }
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

 .footer{
        background-color:#c0c0c0 ;
        width: 100vw;
        height: 20vh;
        margin: 2vw 0 0 0;

 }